html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* General Styles */
body {
  margin: auto;
  width: 100%;
  background-image:  linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)),url("../images/First_Web_Server.jpg");
  font-family: 'Roboto Mono', monospace;
}
/* main styles */
main {
  width: 70vw;
  margin: 0 auto;
  border-left: 1em solid blue;
}
/* Fixed Navigation Bar styles*/

header {
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: .15em solid yellow;
  width: 100%;
  position: fixed;
  margin-top:-1em;
}

nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin: 0 auto;
}

nav li a {
  text-decoration: none;
  color: black;
  padding: 0 2em;
  letter-spacing: 2px;
  background-color: white;
  height: 2.2em;
}

nav a:hover,
nav a:focus,
nav a:active {
  background-color: black;
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
  border-radius: 0 20px 5px 1px;
}

.nav-link { 
  color: black;
  border-radius: 0;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px dashed grey;
  border-left: 3px dashed black;
  border-right: 3px solid black;
  border-top: 2px solid blue;
  transition: all .5s;
}

li a.logo {
  border:none;
  background-color: transparent;
}

li a.hover {
  background-color: transparent;
}
.logo img {
  width: 20%;
}

/* banner section */
.banner {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  color: rgb(255, 255, 255);
  text-shadow: 2px 4px 5px rgba(150, 150, 150, .8);
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.8);
}
.quote {
  width: 50%;
}
.quote p {
    margin-top: 2em;
}
.quote span {
  display: block;
  text-shadow: none;
}

/* learn more section */

.learn-more {
  background-color: navy;
  display: flex;
  flex-direction: column;
}
.learn-more a {
  color: black;
  text-decoration: none;
}

.learn-more a:hover,
.learn-more a:focus,
.learn-more a:active {
  text-decoration: underline;
}
.start {
  width: 33%;
  background-color: white;
  padding: 1em;
  flex-direction: row;
}

.people {
  width: 33%;
  justify-content: space-between;
  margin-left: 33%;
  background-color: silver;
  padding: 1em;
}

.explore {
  width: 33%;
  margin-left: 66%;
  background-color: grey;
  padding: 1em;
  border-right: 10px solid yellow;
}

/* footer */

footer {
  border-top: .1em solid blue;
  display: flex;
  justify-content: center;
}





/* History Page Styles */

h1 {
	background-color: #000;
	color: #FFF;
	padding-left: 5px;
}
.wrapper {
  position: relative;
  top: 8em;
	background-color: white;
	width: 600px;
	min-height: 260px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial, Helvetica, sans-serif;	
	background-color: hsla(170, 50%, 45%, .4);
}

.code_snippet {
	background-color: #EFECEC;
	padding: 5px;
	border: 1px solid #D9A8D9;
	display: inline-block;
	margin: 3px;
	font-family: Consolas, monaco, monospace;
	color: #000099;	
}


.frame {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border: 2px dashed yellow;
  background-image: linear-gradient(hsla(0, 50%, 45%, .2), hsla(50, 50%, 45%, .5));
  transition: all 2s;
}

.frame:hover {
  background-color: hsla(50, 50%, 45%, .5);

}

.frame-of-frames {
    padding: 50px;
  display: flex;
  margin-top: 4em;
  border-top: 6px solid green;
}