html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* General Styles */
body {
  margin: auto;
  width: 100%;
  background-image:  linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)),url("../images/First_Web_Server.jpg");
  font-family: 'Lato', 'Arial', 'Sans serif';
  position: relative;
}
/* main styles */
main {
  width: 70vw;
  margin: 0 auto;
  border-left: 1em solid blue;
}
/* Fixed Navigation Bar styles*/

nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  width: 100vw;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.5rem;
  z-index: 100;
}
nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin: 0 auto;
}

nav li a {
  text-decoration: none;
  color: grey;
  letter-spacing: 2px;
  font-size: 1rem;
}

nav a:hover,
nav a:focus,
nav a:active {
  background-color: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
  padding-bottom: 0.5em;
}

.nav-link { 
  color: silver;
  border-radius: 0;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .15s;
}

li a.logo {
  border:none;
  background-color: transparent;
}

li a.hover {
  background-color: transparent;
}
.logo img {
  width: 50%;
}

/* banner section */
.banner {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 4em 2em;
  color: rgba(150, 150, 150, .8);
  font-size: 1.5rem;
  line-height: 2.25rem;
  background-color: rgba(0, 0, 0, 0.8);
}
.quote {
  width: 50%;
}
.quote p {
    margin-top: 2em;
}
.quote span {
  display: block;
  color: rgba(255, 255, 255, 0.75);
  margin-top: 1em;
}

.web-world {
  width: 25%;
  margin-top: 1em;
}

/* learn more section */

.learn-more {
  display: flex;
  text-align: center;
  border-top: 4em solid rgba(0,138,0,0.1);
}

.learn-more h2 {
  color: white;
}
.learn-more a {
  color: black;
  text-decoration: none;
}

.learn-more i {
  font-size: 2rem;
  text-align: center;
  color: purple;
}
.learn-more a:hover,
.learn-more a:focus,
.learn-more a:active {
  text-decoration: underline;
}
.start {
  width: 50%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  padding: 1em;
  flex-direction: row;
}
.start .info {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: 0 auto;
}
.info {
  line-height: 2em;
}
.people {
  width: 25%;
  justify-content: space-between;
  background-color: silver;
  padding: 1em;
}

.explore {
  width: 25%;
  background-color: grey;
  padding: 1em;
  border-right: 10px solid yellow;
}



